<div class="page-container">
  <mat-card-title>Game Overview</mat-card-title>

  <mat-grid-list cols="5" rowHeight="1:0.9" gutterSize="15">
    @for(game of games | slice:(paginator.pageIndex *
    paginator.pageSize):((paginator.pageIndex + 1) * paginator.pageSize); track
    game.id) {

    <mat-grid-tile class="overview-tile">
      <mat-card style="width: 450px;">
        <mat-card-header>
          <mat-card-title>
            {{ game.title }}
          </mat-card-title>
        </mat-card-header>
        <mat-card-content>{{ game.description }}</mat-card-content>
      </mat-card>
    </mat-grid-tile>
    }
  </mat-grid-list>

  <mat-paginator
    class="footer"
    #paginator
    [length]="games.length"
    [pageSize]="10"
    [pageSizeOptions]="[5, 10, 25, 100]"
  >
  </mat-paginator>
</div>
