@use "../shared/_variables.scss" as variables;

.toolbar {
  position: fixed;
  width: 100%;
  z-index: 100;
  height: variables.$header_height;
  overflow-y: hidden;
  overflow-x: hidden;

  .toolbar-title {
    margin: 0 auto;
  }
}

.app-container {
  margin: 20px;
  margin-left: 30px;
  overflow: hidden;
}

.main-container {
  overflow: hidden;
  // margin-top: 64px;
  padding-top: 64px;
  width: 100%; // fill out the entire width of the viewport
  height: 100%; // fill out the entire height of the viewport
  border: 1px solid rgba(0, 0, 0, 0.5);
}

.nav-side {
  position: fixed;

  border-top-left-radius: variables.$border_radius;
  border-top-right-radius: variables.$border_radius;
  border-bottom-left-radius: variables.$border_radius;
  border-bottom-right-radius: variables.$border_radius;

  min-width: 250px;
  margin: 80px 10px 10px 10px;
}

button.side-bar-button {
  width: 100%;
  font-size: 1.5em;
  padding: 30px;
}





