.calendar-event-dialog {
  min-width: 600px;
}

section {
  display: table;
}

.example-button-row {
  display: table-cell;
}

button {
  text-align: center;

  mat-icon {
    padding: 0 !important;
    margin: 0px !important;
  }
}
