<div class="calendar-event-dialog">
  <div class="dialog-header">
    <section>
      <h2 mat-dialog-title>{{ eventData.title }}</h2>

      <div class="example-button-row">
        <div class="example-flex-container">
          @if(!editMode) {
          <button mat-flat-button (click)="enableEdit()">
            <mat-icon>edit</mat-icon>
          </button>
          } @else {
          <button mat-flat-button color="success" (click)="saveChanges()">
            <mat-icon>save</mat-icon>
          </button>
          }
          <button mat-icon-button color="warn">
            <mat-icon>delete</mat-icon>
          </button>
        </div>
      </div>
    </section>
  </div>

  <div mat-dialog-content>
    {{ eventData.extendedProps }}
    <div class="tag-list">
      <ng-container
        *ngFor="let tag of eventData.extendedProps?.tags | keyvalue"
      >
        <mat-form-field>
          <mat-icon>{{ tag.key }}</mat-icon>
          <span>{{ tag.value }}</span>
          <input matInput [disabled]="!editMode" />
        </mat-form-field>
      </ng-container>
    </div>
    <mat-form-field>
      <mat-label>{{ formattedDate }}</mat-label>
      <input
        matInput
        [matDatepicker]="picker3"
        [value]="eventData.start"
        [disabled]="!editMode"
      />
      <mat-hint>MM/DD/YYYY</mat-hint>
      <mat-datepicker-toggle
        matIconSuffix
        [for]="picker3"
      ></mat-datepicker-toggle>
      <mat-datepicker #picker3></mat-datepicker>
    </mat-form-field>
  </div>
</div>
